server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;
    return 444;
}

# Default server block
server {
    listen 7860 ssl;
    listen [::]:7860 ssl;

    ssl_certificate /home/dev/fluent_docs/etc/ssl/CERTIFICATE.crt;
    ssl_certificate_key /home/dev/fluent_docs/etc/ssl/CERT_PRIVATE_KEY.key;

    root /var/www/html;
    index index.php index.html index.htm;

    server_name ADMIN.MEDIAPARK.WORK;
    if ($host != "ADMIN.MEDIAPARK.WORK") {
        return 403;
    }

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }

    error_log /home/dev/fluent_docs/tmp/log/frontend_error.log;
    access_log /home/dev/fluent_docs/tmp/log/frontend_access.log;
}
